body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #852d2d;
    color: white;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flower {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.flower img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #6a5acd;
    color: white;
}
