body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #8c64d6;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.gummy-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gummy-item {
    background-color: white;
    border: 2px solid #7959b6;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gummy-item img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #694ab1;
    color: white;
}
